.home_page {
  margin: 1rem 0;
}

.home_page h3 a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: italic;
  letter-spacing: 3;
  margin-top: 1rem;
  cursor: pointer;
}

.home_page h3:hover a {
  color: rgb(168, 105, 117);
}

.home_page h3 a small{
  font-size: 15px;
}

.home_blogs{
  display: grid;
  grid-gap: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px;
}

.outside_sidebar{
  margin-bottom: -2em;
}

.headera:hover{
  color: black;
  background-color:white;
  border-radius: 0.2em;
}

.headera:focus {
    color: black;
    background-color:white;
    border-radius: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
small {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight:600;
  color: black
}

.headera{
  color: white
}